/* styles.scss */

$form-bg-color: #f8f9fa;
$input-bg-color: #ffffff;
$input-border-color: #ced4da;
$primary-color: #007bff;
$primary-hover-color: #0056b3;

form {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: $input-bg-color;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: $primary-color;
  }

  div {
    margin-bottom: 20px;

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid $input-border-color;
      border-radius: 5px;
      background-color: $input-bg-color;
      transition: border-color 0.3s ease;
      margin-bottom: 20px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    textarea {
      min-height: 100px;
    }
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensure button takes full width */
    margin: 0 auto; /* Center-align the button */
    display: block; /* Make the button a block-level element */

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

