<div class="box-border max-x-full h-screen px-8">
    <h1 class="text-6xl text-blue-600 py-6">About Me</h1>
    <div class="grid grid-cols-3 justify-items-center content-center mt-20">
        <div class="w-80 bg-blue-200 px-6 py-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?
    
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
        </div>  
        <div class="w-80 bg-blue-200 px-6 py-6">
            <img src="../../../assets/images/aboutme.jpg" alt="">
        </div>
        <div class="w-80 bg-blue-200 px-6 py-6 flex flex-col ">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button (click)="goToContact()" class="bg-blue-500 mt-8 px-4 py-2 rounded-lg ">Contact Me</button>
        </div>
    </div>
</div>

