<div class="aboutme-container">
    <h1>About Me</h1>
    <div class="content">
        <div class="content-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?
    
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
        </div>
        <div class="content-box">
            <img src="../../../assets/images/aboutme.jpg" alt="">
        </div>
        <div class="content-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?
    
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button (click)="goToContact()">Contact Me</button>
        </div>
    </div>
</div>
