<div class="portfolio-container">
    <h1>My Projects</h1>
    <div class="projects">
        <div class="project-content">
            <img src="../../../assets/images/project1.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button>Live Demo</button>
        </div>
        <div class="project-content">
            <img src="../../../assets/images/project2.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button>Live Demo</button>
        </div>
        <div class="project-content">
            <img src="../../../assets/images/project3.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button>Live Demo</button>
        </div>
    </div>
</div>
