<div class="w-full h-full box-border">
    <h1 class="text-center text-4xl mt-10 text-blue-700">My Projects</h1>
    <div class="flex px-12 py-12 align-middle justify-center gap-10">
        <div class="border-2 border-blue-200 w-96 h-fit flex flex-col justify-center px-7 py-7">
            <img src="../../../assets/images/project1.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button class="w-full h-7 cursor-pointer bg-blue-600 rounded-lg mt-6">Live Demo</button>
        </div>
        <div class="border-2 border-blue-200 w-96 h-fit flex flex-col justify-center px-7 py-7">
            <img src="../../../assets/images/project2.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button class="w-full h-7 cursor-pointer bg-blue-600 rounded-lg mt-6">Live Demo</button>
        </div>
        <div class="border-2 border-blue-200 w-96 h-fit flex flex-col justify-center px-7 py-7">
            <img src="../../../assets/images/project3.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
            <button class="w-full h-7 cursor-pointer bg-blue-600 rounded-lg mt-6">Live Demo</button>
        </div>
    </div>
</div>

