
<nav class="bg-cyan-200">
  <div class="flex flex-col items-center sm:flex-row gap-11 py-3 justify-center">
    <a routerLink="home" class="bg-blue-900 text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
    <a routerLink="aboutme" class="text-black-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About Me</a>
    <a routerLink="project" class="text-black-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
    <a routerLink="contact" class="text-black-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</a>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
